@import model.Product
@(products: Seq[Product])(implicit messages: Messages, flash: play.api.mvc.Flash)

@main(Messages("application.name")) {

    <table class="table table-striped">
        <thead>
            <th>EAN</th>
            <th>Name</th>
            <th>Description</th>
        </thead>
        <tbody>
        @for(product <- products) {
            <tr>
                <td><a href="@routes.ProductController.showExisting(product.ean)">@product.ean</a></td>
                <td>@product.name</td>
                <td>@product.desc</td>
            </tr>
        }
        </tbody>
    </table>
    <a href="@routes.ProductController.newProduct()">
        <input type="button" class="btn btn-primary" value=@Messages("application.new")>
    </a>

}